<table class="mytl">
  <% @timeline.each do |t| %>
  <tr>
    <td class="user_image">
      <a href="http://twitter.com/<%= t[:user][:screen_name] %>" target=_blank><%= image_tag(t[:user][:profile_image_url],:alt => t[:user][:screen_name],:title => t[:user][:screen_name]) %></a>
    </td>
    <td class="user_tweet">
      <%= t[:text] %>
    </td>
  </tr>
  <% end %>
</table>
