<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= javascript_include_tag :defaults  %>
  <%= javascript_include_tag 'protocommand'  %>
  <script>
  (function() {
    var konami = new ProtoCommand('left');
    konami.action = function() {
      bgcolor = "#";
      for(i = 0 ; i < 6 ; i++) {
         color = Math.floor(16 * Math.random());
         color = color.toString(16);
         bgcolor = bgcolor + color;
      }
      document.body.style.backgroundColor = bgcolor;
    };
    ProtoCommand.observeAll();
  })();

  function link_by_post(type,id,tweet_id){
      switch(type){
        case "remove_tweet":
          var username = document.getElementById("twitter_username");
          var userpass = document.getElementById("twitter_pass");
          var before = new Effect.SwitchOff(tweet_id);
          var a = new Ajax.Updater('timeline', "twitter/remove_tweet/"+id,
                          {
                            "method": "post",
                            "parameters": "twitter_username="+username.value+"&twitter_pass="+userpass.value,
                            asynchronous:true,
                            evalScripts:true
                          });
      }
    }
</script>
  <%= stylesheet_link_tag 'bugtter' %>
  <title>bugtterTL</title>
</head>
<body>
<%= yield :layout %>
</body>
</html>
